.second-section {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.second-section.visible {
  opacity: 1;
}

.scroll-down-div {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
}

.scroll-down {
  margin-top: 10px;
  bottom: 10px;
  z-index: 100;
  width: 30px;
  height: 30px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  left: 50%;

  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
}
