.first-section {
    display: flex;
    flex-direction: row;
}

.first-section img {
    margin: 2%;
    height: 30%;
    width: 30%;
}

.about-me {
    margin-top: 15%;
}

.my-hobbies img {
    width: 400px;
    height: 200px;
}