div {
    background-color: #555;
}

.contact-page {
    background-color: #555;
    color: white;
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
  }
  
  .left-column,
  .right-column {
    flex: 1;
    padding: 20px;
  }
  
  .left-column h2,
  .right-column h2 {
    color: white;
  }
  
  .social-media {
    display: flex;
    gap: 10px;
  }
  
  .social-media img {
    width: 50px;
    height: auto;
  }
  
  .right-column form {
    display: flex;
    flex-direction: column;
  }
  
  .right-column label {
    margin-bottom: 8px;
  }
  
  .right-column input,
  .right-column textarea {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .right-column button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .right-column button:hover {
    background-color: #555;
  }
  