header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }
  
  .logo {
    background-color: #333;
    font-size: 26px;
    margin: 0;
    margin-left: 10px;
    letter-spacing: 3.6px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  }
  
  nav ul li a:hover {
    text-decoration: underline; 
  }
  