.skills-page {
    text-align: center;
  }
  
  .skill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .skill-block {
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;
    width: 300px; 
  }

  .skill-border {
    margin: 15px 0; 
    border: none;
    border-top: 1.5px solid black;
  }
  
  .skill-level {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .skill-text {
    margin-top: 10px;
  }
  
  .skill-logo {
    height: 200px;
    margin-bottom: 10px;
  }

  .skill-levelimg {
    width: 280px;
  }

  .skill-leveltext {
    color: white;
  }