.skill-block {
    background-color: #555;
    cursor: pointer;
    transition: transform 0.4s;
}

.skill-block:hover {
    transform: rotateY(180deg);
}

.skill-block:hover .skill-text-div {
    display: block;
}

.skill-block:hover .skill-title,
.skill-block:hover .skill-logo,
.skill-block:hover .skill-border,
.skill-block:hover .skill-levelimg,
.skill-block:hover .skill-leveltext {
    display: none; 
}

.skill-text-div {
    display: none;
    transform: rotateY(180deg); 
    height: 362px;
}
