/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Damit der Header über dem restlichen Inhalt bleibt */
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

.main-page {
  padding: 20px;
  margin-top: 60px; /* Damit der Inhalt unter dem fixierten Header bleibt */
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
}
